:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(4, 4, 4, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0c0101;
  text-decoration: inherit;
}
a:hover {
  color: #100202;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eff4f5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d6f10b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #a104b9;
    background-color: #4332a6;
  }
  a:hover {
    color: #06c626;
  }
  button {
    background-color: #deed06;
  }
}

.barra {
 
  top: 0;
 
  container: flex;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
 
 
  background-color: var(--background-color);
  color: var(--text-color);

  
}

.lacarta {
  width: 350px;
  height: 500px;
  background-color: rgb(48, 213, 228);
  border: #d6f10b;
  margin-bottom: 40px;
  border-radius: 10px;
  
}

.titulo1{
  color: #0c0101;
}


.Fav{ 
  display: 'flex';
  justify-content: space-between;
  margin: '20px';
}

/* Estilos para el tema light */
:root.light {
  background-color: #96e5ff;
  color: #333;
}

/* Estilos para el tema dark */
:root.dark {
  background-color: #333;
  color: #f0f0f0;
}
